.plot-title {
    margin-bottom: 5px;
}
.plot {
    font: 10px sans-serif;
}

.tick line {
    opacity: 0.3;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #6F257F;
    stroke-width: 5px;
}

.plot-tooltip rect {
    fill: #626D71;
}

.plot-tooltip text {
    fill: #ffffff;
    font: 14px sans-serif;
}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

.airport-list a {
    padding: 0.75rem 0.5rem;
}

.sort-button {
    margin-right: 6px;
}
.sort-button i {
    font-size: 20px;
}

.code {
    color: black;
    background-color: #f3f3f3;
    padding: 3px 6px;
}
.code-panel {
    padding: 0;
}
.code-panel pre {
    margin: 0;
}
.code-spoiler {
    margin-bottom: 10px;
}
